<ion-content>

    <div class="chatsContainer">
        <p>Mis Mensajes</p>
        <img src="../../../../assets/icon/imgInsideIcons/dots.svg" alt="">
    </div>
    <ion-list *ngIf="listChats.length!=0" >
        <ion-item-sliding  *ngFor="let item of listChats">
            <ion-item (click)="onClickOpemToSesion(item)" style="--padding-end: 20px">
                <div class="chatSesionContainer" >
                    <img *ngIf="item.img == ''" style="border-radius: 100%;width: 90px;height: 69px;margin-right: 3vw;" src="https://placeholder.pics/svg/2000x2000" alt="">
                    <img *ngIf="item.img != ''" style="border-radius: 100%;width: 90px;height: 69px;margin-right: 3vw;" src="{{item.img}}" alt="">
                    <div class="infoSesion">
                        <p *ngIf="currentUserId != item.userCreator.id"> {{item.userCreator.name}}</p>
                        <p *ngIf="currentUserId == item.userCreator.id"> {{item.userGuest.name}}</p>
                        <p> {{item.title}}</p>
                        <p style="font-size: 1vh;">Ultima actividad {{item.lastMsg.created_at}}</p>
                    </div>
                    <div class="handPointing">
                        <img  src="../../../../assets/icon/hand-pointing.svg" alt="">
                    </div>
                 
                </div>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option style="width: 60px;" (click)="onClickDeleteSesion(item)" color="danger"> <ion-icon slot="top" name="trash"></ion-icon>
                </ion-item-option>
                <ion-item-option style="width: 60px;" color="warning" ><ion-icon name="alert-circle-outline"></ion-icon></ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <div class="nochats" *ngIf="listChats.length==0">
        
        <p>No hay sesiones de chat activas</p>
    </div>

</ion-content>
