.searchBarContainer{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Noto-Normal';
    font-size: 16px;
    background-color: rgba(204, 204, 204, 0.2);
    border-radius: 8px;
    margin-top: 3%;
    padding-left: 2vw;
    padding-right: 2vw;
    ion-input {
        margin-left: 2vw;
    }
}
.searchBarContainer img{
    height: 25px;
}
.filterOn{
    border: 1.4px solid rgb(214, 88, 88) !important;
}


.filterViewContainer{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.typeViewContainer{
    display: flex;
    align-items: center;
    width: 18%;
    justify-content: space-between;
    img{
        height: 25px;
    }
}
.categoryText{
    font-size: 16px;
    font-family: 'Noto-Sans';
}
.listCategorysContainer{
    display: flex;
    width: 95;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

ion-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    img{
        height: 55px;
    }
}

.skeletonImgCategory{
    width: 90% !important;
    height: 50px !important;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
   	
}
.skeletonTextCategory{
    width: 60% !important;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.skeletonItem{
    display: flex;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    margin-top: 10%;
}

.leftimg{
    height: 95px;
    width: 30%;
    border-radius: 16px 0px 0px 16px;
}
