.logoIntro{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 16%;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
}

.loginFieldsContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
}
.inputsContainer{
    border-bottom: 0.2px solid  #c7c0c0;
    padding-top: 10%;
}
.inputsContainer *{
    margin-left: 5vw;
    margin-right: 3vw;
}

.textInfoForRecover{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%; 

    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 200;
        font-size: 13px;
        line-height: 12px;
        color: #808486;
    }
    
}

.btnSendMailContainer{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-end;
    margin-top: 3%;
}
.btnSendMail{
    background: #e45454 !important;
    border-radius: 8px;
    width: 46%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 12px 8px -8px rgb(0 0 0 / 25%);
    --background: #e45454;
    p{
        font-family: "Noto";
        font-style: normal;
        font-weight: 200;
        font-size: 12iopx;
        line-height: 12px;
        color: #fff;
    }
}