
<ion-content>

  <app-header-basic title=""></app-header-basic>

    
  <div class="logoIntro">
    <img src="../../../assets/imgSources/Group (2).svg" alt="logo gys">
  </div>

  <form [formGroup]="recoverForm">
  
  <div class="loginFieldsContainer">
    <div class="inputsContainer" [ngClass]="{'ValidFieldInput': validFieldMail,'invalidFieldInput': !validFieldMail }">
      <ion-input  (keypress)="close($event.keyCode)" (ionChange)="onChangeMail()" formControlName="mail" type="text" placeholder="email"></ion-input>
    </div>
  </div>

  <div class="textInfoForRecover">
    <p>
      Introduce tu cuenta de correo electrónico y te enviaremos un email de recuperación para recuperar la contraseña.
    </p>
  </div>
  <div class="btnSendMailContainer">
    <ion-button (click)="onClickSendRecoverMail()"  class="btnSendMail" expand="block" fill="clear" shape="round">
      <p>Enviar email</p>
    </ion-button>
  </div>
</form>
</ion-content>
