
<ion-content>

  <app-header-basic title=""></app-header-basic>

    
  <div class="logoIntro">
    <img src="../../../assets/imgSources/Group (2).svg" alt="logo gys">
  </div>

  <div class="loginFieldsContainer">
    <div class="inputsContainer">
      <ion-input type="text" placeholder="email"></ion-input>
    </div>
  </div>

  <div class="textInfoForRecover">
    <p>
      Introduce tu cuenta de correo electrónico y te enviaremos un email de recuperación para recuperar la contraseña.
    </p>
  </div>
  <div class="btnSendMailContainer">
    <div class="btnSendMail">
      <p>
        Enviar email
      </p>
    </div>
  </div>

</ion-content>
