
<ion-content [scrollEvents]="true"  (ionScroll)="getScrollPosition($event)">

  <!-- hEADER  -->
  <div class="headerFilters">
    <form  [formGroup]="searchForm">
    <div [ngClass]="{filterOn: isFilterSearchOn}" class="searchBarContainer">
      <img src="../../../../assets/icon/search.svg" alt="">
      <ion-input formControlName="searchBar" (ionChange)="onSearchChange()" (ionFocus)="searchGotFocus()" (ionBlur)="searchLoseFocus()" type="text" placeholder="Busca en GYS">
      </ion-input>
      <img  *ngIf="searchForm.getRawValue().searchBar.length>0" (click)="onClickClearSerchBar()" src="../../../../assets/icon/cancel.svg" alt="">
    </div>
  
    <div class="categorySlides" *ngIf="listCategory.length > 0 else noCategory" >
      <ion-slides  [scrollbar]="false" mode="ios" scrollbar="ios" [options]="slidesOptions">
        <ion-slide (click)="onClickFilterbyCategory(category)" *ngFor="let category of listCategory | categoryFilter : filterCategoty">
          <div *ngIf="!category.img"  class="skeletonImgCategory">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </div>
          <img *ngIf="category.img"  src="{{category.img}}" alt="">
          <p>{{category.title}}</p> 
        </ion-slide>
        <ion-slide *ngIf="filterCategoty.length != 0"  (click)="onClickClearCategoryFilter()">
          <p style="color: #d05454;">Eliminar Filtros</p> 
        </ion-slide>
      </ion-slides>
    </div>

    <ng-template class="categorySlides" #noCategory>
      <ion-slides [scrollbar]="false" mode="ios" scrollbar="ios" [options]="slidesOptions">
        <ion-slide *ngFor="let item of [1,2,3,4,54,5,6,7,7,7,3]">
          <div class="skeletonImgCategory">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </div>
          <p class="skeletonTextCategory"><ion-skeleton-text animated style="width: 100% !important"></ion-skeleton-text></p> 
        </ion-slide>
      </ion-slides>
    </ng-template>

    
  </form>
  </div>

  <div class="filterViewContainer">
    <div class="categoryText">
      category : {{filterCategoty || 'Todas'}}
    </div>
    <div class="typeViewContainer">
      <img (click)="onClickChangeView('list')" src="../../../../assets/icon/listView.svg" alt="">
      <img (click)="onClickChangeView('cards')" src="../../../../assets/icon/grid.svg" alt="">
    </div>
  </div>

  <div class="elementsContainer">

    <div *ngIf="listOferts.length > 0 else noOferts">
    <div    class="elemntContainer" *ngFor="let oferts of listOferts | filterSearch : filterText">
      <div (click)="onClickSeeElementDetails(oferts)" class="imgElement">
        <img *ngIf="oferts.listImg[0]" src="{{oferts.listImg[0]}}" alt="">
        <img *ngIf="!oferts.listImg[0]" src="https://placeholder.pics/svg/1200" alt="">
      </div>
      <div class="elemtsListContainerText">
        <div class="listElementHeader">
          <div (click)="onClickSeeElementDetails(oferts)" *ngIf="oferts.title" class="titleAnuncio">{{oferts.title}}</div>
          <div (click)="onClickSeeElementDetails(oferts)" *ngIf="!oferts.title" class="titleAnuncio">--</div>
          <div (click)="onClickAddFav(oferts)" class="favBtn">
            <img  src="../../../../assets/icon/favorite.svg" alt="">
            <!-- <img src="../../../../assets/icon/favorite_filled.svg" alt=""> -->
          </div>
        </div>
        <div (click)="onClickSeeElementDetails(oferts)" class="priceContainer">
          <p *ngIf="oferts.price"> <b>{{oferts.price | currency:'EUR':'symbol':'1.2-2'}}</b></p>
          <p style="color: rgb(166, 170, 170);" *ngIf="!oferts.price"> <b>'--' €</b></p>
        </div>
        <div (click)="onClickSeeElementDetails(oferts)" class="locationContainer">
            <img src="../../../../assets/icon/location.svg" alt="">
            <p *ngIf="oferts.location">{{oferts.location}}</p>
            <p *ngIf="!oferts.location">ubicacion no disponible</p>
        </div>
        <div (click)="onClickSeeElementDetails(oferts)" class="descContainer">
          <p *ngIf="oferts.category"> categoria : {{oferts.category}}</p>
          <p *ngIf="!oferts.category"> categoria : Todas</p>
        </div>
      </div>
    </div>
  </div>

    <ng-template style="margin-bottom: 10%;" #noOferts>
      <div class="skeletonItem" *ngFor="let item of [1,2,3,4,54,5,6,7,7,7,3]">
     
        <div class="leftimg">
          <ion-skeleton-text animated ></ion-skeleton-text>
        </div>

        <div style="height: 100%;width: 65%;margin-left: 3vw;">
       
          <p> <ion-skeleton-text animated ></ion-skeleton-text></p>
      
        <div>
          <ion-skeleton-text animated ></ion-skeleton-text>
        </div>
        
        <div>
          <ion-skeleton-text animated ></ion-skeleton-text>
        </div>
        <div>
          <ion-skeleton-text animated ></ion-skeleton-text>
        </div>
        <div>
          <ion-skeleton-text animated ></ion-skeleton-text>
        </div>
        
      </div>
    </div>
    </ng-template>

  </div>
  
  <div *ngIf="showGoTopBtn" class="back-to-top-btn"  (click)="gotToTop()">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </div>

</ion-content>
