<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="list-elements">
       <img src="../../../assets/icon/list.svg" alt="">
     
    </ion-tab-button>
    <ion-tab-button tab="add-new-elements">
      <img src="../../../assets/icon/add.svg" alt="">

    </ion-tab-button>
    <ion-tab-button tab="list-chats">
       <img src="../../../assets/icon/chat.svg" alt="">
   
    </ion-tab-button>
    <ion-tab-button tab="profile">
       <img src="../../../assets/icon/account.svg" alt="">
     
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>