.logoIntro{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 6vh;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
}

.loginFieldsContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 2vh;
}
.inputsContainer{
    border-bottom: 0.2px solid  #c7c0c0;
    padding-top: 4vh;
}
.inputsContainer *{
    margin-left: 5vw;
    margin-right: 3vw;
}
.recoverPass{
    display: flex;
    width: 100%;
    padding-right: 5vw;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-top: 1vh;
}
.recoverPass p {
    font-size: 1.5vh;
    font-family: "Noto-Sans";
}
.recorderContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-left: 5vw;
    align-items: center;
    text-align: center;
    font-family: 'Noto-Sans';
    font-size: 1.5vh;
    margin-top: 2vh;
}
ion-toggle{
    margin-right: 3vw;
    --background: rgb(221, 206, 206, 0.2);
    --background-checked: rgba(219, 58, 58, 0.5);
    --handle-background:rgb(201, 69, 69,0.8);
    --handle-background-checked: rgb(201, 69, 69);
    height: 3vh;
    width: 6vh;
    --handle-height: 100%;
    --handle-width: 3vh;
}
.passwordField{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottomBtns{
    position: fixed;
    bottom: 3vh;
    width: 100%;
}

.loginBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid rgb(223, 64, 64);
    background-color: rgb(223, 64, 64);
    border-radius: 8px;
    width: 90%;
    height: 7vh;
    margin-top: 2vh;

    box-shadow: 0px 12px 8px -8px rgba(0, 0, 0, 0.25);
}
.loginBtn * {
    --color: #ffffff;
    font-family: 'Noto-Sans';
    font-weight: 900;
}
ion-button{
    width: 100%;
}
ion-button * {
    padding: 1vh;
}
.registerDontHaveAccContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;margin-top: 4vh;
    margin-left: 5vw;
    font-family: 'Noto-Sans';
    font-size: 2vh;
}
.registerDontHaveAccContainer p{
    color: rgb(131, 127, 127);
}
.registerDontHaveAccContainer b{
    font-weight: 900;
    color: rgb(0, 0, 0);
}

