
<ion-content>
  <div style="margin-top: 3%;" class="headerContainer">
    <img (click)="onClickGoBack()" class="backBtn" src="../../../assets/icon/back-arrow.svg" alt="">
    <div class="tittleCont">
      <!-- <p>{{title}}</p> -->
    </div>
  </div>
  
  <div class="logoIntro">
    <img src="../../../assets/imgSources/Group (2).svg" alt="logo gys">
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onClickLoginMail()" >

  <div class="loginFieldsContainer">
    <div class="inputsContainer" [ngClass]="{'ValidFieldInput': validFieldMail,'invalidFieldInput': !validFieldMail }">
      <ion-input  type="mail" (keypress)="close($event.keyCode)" (ionChange)="onChangeMail()" formControlName="mail" (ionFocus)="fieldsGet('email')" type="text" placeholder="email"></ion-input>
    </div>
    <div class="inputsContainer passwordField"  [ngClass]="{'ValidFieldInput': validFieldPassword,'invalidFieldInput': !validFieldPassword }">
      <ion-input  (keypress)="close($event.keyCode)" (ionChange)="onChangePass()" formControlName="password" (ionFocus)="fieldsGet('password')" [type]="passType" placeholder="password"></ion-input>
      <img (click)="onClickSeePass()" style="height: 25px;" src="{{seePass ? '../../../assets/icon/eyeActivated.svg' : '../../../assets/icon/eye.svg'}}" alt="">
    </div>
  </div>
  <div class="recoverPass">
    <p (click)="onClickRecoverPass()">¿Has olvidado tu contraseña?</p>
  </div>
  
  <div class="bottomBtns" *ngIf="showBtn" >
    <div (click)="onClickLoginMail()" class="loginBtn">
      <ion-button expand="block" fill="clear" shape="round">
        Iniciar sesión
      </ion-button>
    </div>
    <div class="registerDontHaveAccContainer">
      <p>¿No tienes una cuenta? <b  (click)="onClickGoRegister()">Regístrate</b> </p>
    </div>
  </div>
</form>
 

</ion-content>
