
<ion-content>
  <div  style="margin-top: 3%;" class="headerContainer">
    <img (click)="onClickGoBack()" class="backBtn" src="../../../assets/icon/back-arrow.svg" alt="">
    <div class="tittleCont">
      <p></p>
    </div>
  </div>

  <div class="imgContainer">
    <swiper *ngIf="dataShow.listImg.length == 0" class="swipperDontBroke" [config]="{ slidesPerView: 1, pagination:true }">
        <ng-template *ngFor="let item of [1,2,3,4]" swiperSlide>
          <img class="imgItemDetails" src="https://placeholder.pics/svg/2000x2000" alt="">
        </ng-template>
    </swiper>
    <swiper *ngIf="dataShow.listImg.length > 0"  class="swipperDontBroke" [config]="{ slidesPerView: 1, pagination:true }">
      <ng-template *ngFor="let itemImg of dataShow.listImg;let i = index" swiperSlide>
        <img class="imgItemDetails" src="{{itemImg}}" alt="">
      </ng-template>
    </swiper>
    <div [ngClass]="{'noWidthCreator': currentUserId == dataShow.created_by.id}" class="optionsDetails">
      <img  class="iconsImg" (click)="onClickShareSocial()" src="../../../assets/icon/imgInsideIcons/share.svg" alt="">
      <div *ngIf="!dataShow.isFav"   (click)="onClickAddFav()">
        <img class="iconsImg"  src="../../../../assets/icon/favorite.svg" alt="">
        <!-- <img src="../../../../assets/icon/favorite_filled.svg" alt=""> -->
      </div>
      <div *ngIf="dataShow.isFav"   (click)="onClickRemovefav()">
        <img class="iconsImg" src="../../../../assets/icon/favorite_filled.svg" alt="">
        <!-- <img src="../../../../assets/icon/favorite_filled.svg" alt=""> -->
      </div>

      <!-- <img  class="iconsImg" src="../../../assets/icon/favorite_filled.svg" alt=""> -->
      <img  class="iconsImg" id="size-button" src="../../../assets/icon/imgInsideIcons/dots.svg" alt="">
      <ion-popover mode="md" trigger="size-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item (click)="onClickSeeStats()" [button]="true" [detail]="false">
                <ion-label>Ver estadísticas</ion-label>
              </ion-item>
              <ion-item (click)="onClickDenunciar()" [button]="true" [detail]="false">
                <ion-label>Denunciar oferta</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </div>

  <div class="textOptionsDetails">
    <div class="box1">
      <p>{{dataShow.price| currency:'EUR':'symbol':'1.2-2'}}</p>
      <div class="viewsContainer">
        <img src="../../../assets/icon/views_eye.svg" alt="">
        <p>{{dataShow.views}}</p>
      </div>
    </div>
    <div class="box2">
      <p>{{dataShow.title}}</p>
    </div>
    <div class="box4">
      <img src="../../../../assets/icon/location.svg" alt="">
      <p>{{dataShow.location}}</p>
    </div>
  </div>
  <div class="box3">
    <div class="titleDesc">
      <p>Descripción</p>
      <p>{{ofertDate}}</p>
    </div>
    <p>{{dataShow.description}}</p>
  </div>
  
  <div class="textHeaderInfo">
    <p>Ofertas Similares</p>
  </div>

  <div *ngIf="!onSuggested" class="suggestContainer">
    <ion-slides class="slidesSugerenciasContainer" [scrollbar]="false" [options]="slideOptsSuggested">
      <ion-slide (click)="onClickSeeElementDetails(item)" *ngFor="let item of listOferts">
        <ion-card>
          <ion-card-header style="padding: 0;">
           <img class="slideCardImg"  *ngIf="item.listImg.length == 0" src="https://placeholder.pics/svg/2000x2000" alt="">
           <img  class="slideCardImg" *ngIf="item.listImg.length != 0" src="{{item.listImg[0]}}" alt="">
          </ion-card-header>
          <div class="cardContainer">
            <p>{{item.price | currency}}</p>
            <p class="titleContent">{{item.title}}</p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div style="display: flex;flex-direction: row;" *ngIf="listOferts.length==0">
      <ion-slides style="width: 100% !important" class="slidesSugerenciasContainer" [scrollbar]="false" [options]="slideOpts">
        <ion-slide style="height: 200px;width: 125px;"  *ngFor="let item of [1,2,3,4]">
          <div >
            <ion-skeleton-text style="height: 167px;;width: 125px;border-radius: 17px;" animated ></ion-skeleton-text>   
          </div>
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <div class="vendedorContainer">
    <div class="headerVerdedor">
      <img style="border-radius: 100%;" *ngIf="!dataShow.created_by.profileImg" src="https://placeholder.pics/svg/2000x2000" alt="">
      <img style="border-radius: 100%;" *ngIf="dataShow.created_by.profileImg" src="{{dataShow.created_by.profileImg}}" alt="">
      <div class="titleVendedorContainer" style="display: flex;flex-direction: column;">
        <p style="font-size: 1vh !important; color: red;">Tienda</p>
        <p>{{dataShow.created_by.name}}</p>
      </div>
    </div>
    <img style="height: 2vh; margin-right: 2vw;" src="../../../assets/icon/arrow.svg" alt="">
  </div>

  <div *ngIf="currentUserId != dataShow.created_by.id" class="contactOptionsContainer">
    <div [ngClass]="{'noCall': dataShow.created_by.phone==''}" (click)="onClickOpenChat()" class="chatOption">
      <img src="../../../assets/icon/chatWhite.svg" alt="">
      <p style="margin-left: 2vw;">Chat</p>
    </div>
    <div *ngIf="dataShow.created_by.phone!=''" (click)="onClickCall()" class="callOption">
      <img src="../../../assets/icon/phone.svg" alt="">
      <p>Llamar</p>
    </div>
  </div>

  <div (click)="onClickDenunciar()" class="reportAnuncioContainer">
    <img  src="../../../assets/icon/danger.svg" alt="">
    <p>Denunciar este anuncio</p>
  </div>

 


</ion-content>
