
<ion-content>
  <app-header-basic title=""></app-header-basic>

  <div class="imgContainer">
    <swiper class="swipperDontBroke" [config]="{ slidesPerView: 1, pagination:true }">
      <ng-template *ngFor="let item of [1,3,3,4,4]" swiperSlide>
        <img class="imgItemDetails" src="https://placeholder.pics/svg/2000x2000" alt="">
      </ng-template>
    </swiper>
    <div class="optionsDetails">
      <img  class="iconsImg" src="../../../assets/icon/imgInsideIcons/share.svg" alt="">
      <img  class="iconsImg" src="../../../assets/icon/favorite.svg" alt="">
      <!-- <img  class="iconsImg" src="../../../assets/icon/favorite_filled.svg" alt=""> -->
      <img  class="iconsImg" src="../../../assets/icon/imgInsideIcons/dots.svg" alt="">
    </div>
  </div>

  <div class="textOptionsDetails">
    <div class="box1">
      <p>{{1000 | currency}}</p>
      <div class="viewsContainer">
        <img src="../../../assets/icon/views_eye.svg" alt="">
        <p>20k</p>
      </div>
    </div>
    <div class="box2">
      <p>Titulo</p>
    </div>
    <div class="box4">
      <img src="../../../../assets/icon/location.svg" alt="">
      <p>location</p>
    </div>
  </div>
  <div class="box3">
    <div class="titleDesc">
      <p>Descripción</p>
      <p>{{ 25 | date}}</p>
    </div>
    <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  
  <div class="textHeaderInfo">
    <p>Ofertas Similares</p>
  </div>

  <div class="suggestContainer">
    <app-slide-sugeridos [listItems]="listItems"></app-slide-sugeridos>
  </div>

  <div class="vendedorContainer">
    <div class="headerVerdedor">
      <img src="../../../assets/icon/add.svg" alt="">
      <div class="titleVendedorContainer" style="display: flex;flex-direction: column;">
        <p style="font-size: 1vh !important; color: red;">Tienda</p>
        <p>Tienda nombre</p>
      </div>
    </div>
    <img style="height: 2vh; margin-right: 2vw;" src="../../../assets/icon/arrow.svg" alt="">
  </div>

  <div class="reportAnuncioContainer">
    <img src="../../../assets/icon/danger.svg" alt="">
    <p>Denunciar este anuncio</p>
  </div>

  <div class="contactOptionsContainer">
    <div class="chatOption">
      <img src="../../../assets/icon/chatWhite.svg" alt="">
      <p>Chat</p>
    </div>
    <div class="callOption">
      <img src="../../../assets/icon/phone.svg" alt="">
      <p>Llamar</p>
    </div>
  </div>


</ion-content>
