
<div style="box-shadow: 3px 0px 6px -1px rgb(0 0 0 / 25%);">
  <div style="margin-top: 2%;" class="headerContainer">
    <img (click)="onClickGoBackModal()" class="backBtn" src="../../../assets/icon/back-arrow.svg" alt="">
    <div class="tittleCont">
      <p class="title">{{title}}</p>
      <p class="category">{{category.title}}</p>
    </div>
</div>
</div>
<ion-content>
  <form [formGroup]="formAddNew">


  <div *ngIf="listPhotos.length==0" class="containerCameraAdd" (click)="onClickAddListImg()">
    <div class="imgAddIcon" >
      <img src="../../../assets/icon/camera.svg" alt="">
      <p>Añade hasta 3 fotos</p>
    </div>
  </div>

  <div  style="position: relative;" *ngIf="listPhotos.length!=0">
    <img (click)="onClickAddListImg()" style="position: absolute;height: 60px;top: 35%;left: 45%;z-index: 9000000;" src="../../../assets/icon/photoadd.svg" alt="">
   <ion-slides mode="ios" pager="ios" scrollbar="false" >
     <ion-slide *ngFor="let item of listPhotos">
      <img class="imgItemDetails" src="{{item}}" alt="">
     </ion-slide>
   </ion-slides>
    
  </div>

    <div class="formFieldContainer">
      <div class="fieldsContainer">
        <ion-input (keypress)="close($event.keyCode)" formControlName="titulo" type="text" placeholder="Título"></ion-input>
      </div >
      <p class="infoFieldsText">¿Qué vendes u ofreces? Maximo 15 caracteres</p>
      <div style="padding-right: 3vw;"  class="fieldsContainer fieldTextArea">
        <ion-textarea (keypress)="close($event.keyCode)" formControlName="descripcion" placeholder="Descripción"></ion-textarea>
      </div>
      <p class="infoFieldsText">15 caracteres mínimo</p>
      <div  class="fieldsContainer">
        <ion-input (keypress)="close($event.keyCode)" formControlName="precio" type="number" placeholder="Precio"></ion-input>
      </div>
      <div  class="fieldsContainer">
        <ion-input (keypress)="close($event.keyCode)" (ionChange)="SetingLocation($event)" formControlName="location"  type="text" placeholder="Ubicación"></ion-input>
        <div *ngIf="showLocations" >
          <div style="margin-left: 4.5vw;" *ngFor="let item of listProvincias | countryFilter : formAddNew.getRawValue().location; ; let i = index  ">
            <p *ngIf="i<3" (click)="onClickSelectRegion(item.nm)">
              {{item.nm}} 
            </p>
          </div>
        </div>
      </div>
      <p class="infoFieldsText">Localidad o provincia, maximo 25 caracteres</p>
    </div>

    <div *ngIf="showBtn"  class="btnAddContainer">
      <div class="addBtn">
        <ion-input type="submit" (click)="createNewOfert()"><p style="width: 100%;">Añadir</p></ion-input>
      </div>
    </div>
  </form>
</ion-content>