<div style="box-shadow: 3px 0px 6px -1px rgb(0 0 0 / 25%);">
  <div style="margin-top: 1vh;" class="headerContainer">
    <img (click)="onClickGoBackModal()" class="backBtn" src="../../../assets/icon/back-arrow.svg" alt="">
    <div class="tittleCont">
      <p class="title">{{title}}</p>
      <p class="category">{{category.title}}</p>
    </div>
</div>
</div>
<ion-content>

  <div class="containerCameraAdd">
    <div class="imgAddIcon">
      <img src="../../../assets/icon/camera.svg" alt="">
      <p>Añade hasta 6 fotos</p>
    </div>
  </div>

  <form [formGroup]="formAddNew" (ngSubmit)="createNewOfert()">
    <div class="formFieldContainer">
      <div class="fieldsContainer">
        <ion-input type="text" placeholder="Título"></ion-input>
      </div >
      <div  class="fieldsContainer fieldTextArea">
        <ion-textarea placeholder="Descripción"></ion-textarea>
      </div>
      <div  class="fieldsContainer">
        <ion-input type="number" placeholder="Precio"></ion-input>
      </div>
      <div  class="fieldsContainer">
        <ion-input type="text" placeholder="Ubicación"></ion-input>
      </div>
    </div>

    <div (submit)="createNewOfert()" class="btnAddContainer">
      <div class="addBtn">
        <p>Añadir</p>
      </div>
    </div>
  </form>
</ion-content>