
<ion-content>

  <div class="headerProfile">    
      <img src="https://placeholder.pics/svg/1200" alt="">
    <div>
      Inicia sesión o regístrate
    </div>
  </div>

  <div class="optionsProfile">
    <div class="navElementProfile">
      <div>
        <img src="../../../../assets/icon/list_settings.svg" alt="">
        <p>Mis Anuncios</p>
      </div>
      <img style="height: 2.5vh;margin-right: 3vw;" src="../../../../assets/icon/arrow.svg" alt="">
    </div>

    <div class="navElementProfile">
      <div>
        <img src="../../../../assets/icon/favorite.svg" alt="">
        <p>Mis Favoritos</p>
      </div>
      <img style="height: 2.5vh;margin-right: 3vw;" src="../../../../assets/icon/arrow.svg" alt="">
    </div>

    <div class="navElementProfile">
      <div>
        <img src="../../../../assets/icon/settings.svg" alt="">
        <p>Ajustes</p>
      </div>
      <img style="height: 2.5vh;margin-right: 3vw;" src="../../../../assets/icon/arrow.svg" alt="">
    </div>

    <div class="navElementProfile">
      <div>
        <img src="../../../../assets/icon/info.svg" alt="">
        <p>Terminos y condiciones</p>
      </div>
      <img style="height: 2.5vh;margin-right: 3vw;" src="../../../../assets/icon/arrow.svg" alt="">
    </div>

    <div class="navElementProfile">
      <div>
        <img src="../../../../assets/icon/help-mail.svg" alt="">
        <p>Ayuda y soporte</p>
      </div>
      <img style="height: 2.5vh;margin-right: 3vw;" src="../../../../assets/icon/arrow.svg" alt="">
    </div>

    <div class="navElementProfile">
      <div>
        <img src="../../../../assets/icon/close.svg" alt="">
        <p>Cerrar sesión</p>
      </div>
      <img style="height: 2.5vh;margin-right: 3vw;" src="../../../../assets/icon/arrow.svg" alt="">
    </div>
    
  </div>

</ion-content>
